<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>苏言苏语</title>
    <style>
        :root {
            --primary: #1e88e5;
        }
    </style>
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col-12">
            <hgroup>
                <h1>苏言苏语</h1>
                <h3>苏总名言录</h3>
            </hgroup>
        </div>
        <div>
            <article>
                <p>503 Error</p>
                <p>{{ msg }}</p>
            </article>
        </div>
    </div>
</main>

</body>
</html>